@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;list-style:none;border:none;}
body{background:#fcfdff url(../images/bodybg_admin.jpg) top left repeat-x; font-family:Verdana, Arial, Helvetica, sans-serif,宋体;font-size:12px;}
 